@import "./reset.css";
@import "./variables.css";

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: auto;

  font-family: var(--font-family-main), serif;
}

html {
  scroll-behavior: smooth;
}
