:root {
  /*font*/
  --font-family-main: "Onest", "Times New Roman", serif;
  --font-main-color: #121212;

  /*button*/
  --button-bg-color: #E85A4F;
  --button-text-color: #FFFFFF;
  --button-hover-bg-color: #FF6452;
}
