.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rootMobile {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 5px;
  max-width: 320px;
}
