.root {
  padding: 47px 47px 0 47px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px;
}

.rootTable {
  padding: 21px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.rootMobile {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconTextMobile.iconTextMobile {
  gap: 35px;
}

.iconTextMobile:first-child {
  gap: 42px;
}
