.root {
  background-color: #F6F5F1;
  padding: 80px 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.rootTablet {
  padding: 40px 30px;
}

.border {
  margin-top: 24px;
  border-top: 6px solid #E85A4F;
  width: 106px;
}

.borderTablet {
  margin-top: 10px;
  border-top: 4px solid #E85A4F;
  width: 70px;
}

.content {
  display: flex;
  gap: 32px;
  padding-left: 100px;
  margin-top: 26px;
}

.contentTablet {
  padding-left: 0;
}

.text {
  max-width: 500px;
}

.textTablet {
  max-width: 340px;
}

.video {
  width: 604px;
  height: 439px;
}
