.root {
  background-color: #F5EBDD;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTablet {
  align-items: start;
  padding-left: 30px;
}

.text {
  width: 1220px;
}

.textTablet {
  width: auto;
}

.border {
  width: 106px;
  height: 6px;
  border-bottom: 6px solid #E85A4F;
  margin-top: 10px;
}
