.root {
  height: 1070px;
  position: relative;
  background-color: #F6F5F1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 80px;
}

.rootTablet {
  flex-direction: column;
  height: auto;
  gap: 24px;
  padding-bottom: 40px;
  padding-top: 45px;
}

.works {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 67px;
  top: 20px;
}

.worksTablet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 708px;
  margin-top: 80px;
}

.buttonTablet {
  margin-top: 24px;
}
