.root {
  background-color: #F6F5F1;
  padding: 80px 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.border {
  margin-top: 24px;
  border-top: 6px solid #E85A4F;
  width: 106px;
}

.content {
  display: flex;
  gap: 32px;
  padding-left: 100px;
  margin-top: 26px;
}

.text {
  max-width: 500px;
}
