.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 318px;
}

.rootMobile {
  width: 280px;
  height: 260px;
  background-color: #FFFFFF;
  border-radius: 10px;
  flex-shrink: 0;
  padding: 15px;
  overflow: hidden;
}

.img {
  height: 95px;
  width: 160px;
}

.imgMobile {
  height: 45px;
  width: auto;
}

.border {
  width: 55px;
  height: 4px;
  border-top: 4px solid #C6AB83;
  margin-top: 13px;
}

.titleMobile {
  display: flex;
  align-items: center;
  gap: 15px;
}
