.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.rootTable {
  padding-top: 40px;
  padding-bottom: 40px;
}

.containerTable {
  zoom: 0.6;
}

.border {
  width: 106px;
  height: 6px;
  border-bottom: 6px solid #E85A4F;
  margin-top: 10px;
}

.content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 49px;
}
