.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.rootTable {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rootMobile {
  padding: 32px 20px 71px 20px;
  background-color: #F6F5F1;
}

.containerTable {
  zoom: 0.6;
}

.containerMobile {
  width: 100%;
}

.border {
  width: 106px;
  height: 6px;
  border-bottom: 6px solid #E85A4F;
  margin-top: 10px;
}

.borderMobile {
  width: 42px;
  border-bottom: 2px solid #E85A4F;
  margin-top: 10px;
}

.content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 49px;
}

.contentMobile {
  width: 100%;
  margin-top: 19px;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;
}

.contentMobile::-webkit-scrollbar {
  display: none;
}
