.root {
  background-color: #FFFFFF;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.text {
  margin-left: 320px;
  width: 1220px;
}

.titleTablet {
  align-items: start;
  padding-left: 30px;
}

.textTablet {
  width: max-content;
  margin-left: 0;
}

.border {
  width: 106px;
  height: 6px;
  border-bottom: 6px solid #E85A4F;
  margin-top: 10px;
}
