.root {
  background-color: #FEFCF3;
  padding-bottom: 40px;
  padding-right: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 18px;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 29px;
  position: relative;
  top: 0;
  left: 0;
}

.photoContainer {
  padding: 0 15px 15px 0;
  background-color: #F5EBDD;
  border-bottom-right-radius: 25px;
  position: relative;
}

.photoContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;

  width: 25px;
  height: 25px;

  background: radial-gradient(
    circle 24px at 100% 100%,
    transparent 24px,
    #F5EBDD 25px
  );

  /* чтобы не повторялось */
  background-repeat: no-repeat;

}

.phtCont::after {
  content: "";
  position: absolute;

  width: 25px;
  height: 25px;

  background: radial-gradient(
    circle 24px at 100% 100%,
    transparent 24px,
    #F5EBDD 25px
  );

  /* чтобы не повторялось */
  background-repeat: no-repeat;

}

.photo {
  width: 180px;
  height: 180px;
}

.image {
  padding-left: 29px;
}

.avatar {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;   /* ключевая строка */
  display: block;
}

.info {
  display: flex;
  gap: 16px;
  padding-left: 40px;
}

.infoTextContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.topContainer {
  display: flex;
  gap: 36px
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.text {
  width: 336px;
  padding-top: 40px;
}


