.root {
  background-image: url('@/shared/assets/backgrounds/1stscreen.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

.rootTablet {
  padding: 0 30px;
  height: 700px;
}
