.root {
  background-image: url('@/shared/assets/backgrounds/1stscreen.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.rootTablet {
  background-image: url('@/shared/assets/backgrounds/1stscreen_tablet.png');
  padding: 0 30px;
  height: 768px;
}

.rootMobile {
  background-image: url('@/shared/assets/backgrounds/1stscreen_tablet_mobile.png');
  height: 280px;
  padding: 5px 20px;
}
