.root {
  height: 512px;
  background-color: #EAE7DC;
  overflow: visible;
  display: flex;
  justify-content: center;
  position: relative;
}

.rootMobile {
  height: 800px;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EAE7DC;
  width: 1240px;
  bottom: 10%;
  border-radius: 15px;
}

.contentTablet {
  width: 708px;
}

.contentMobile {
  bottom: auto;
  width: 100%;
}
