.root {
  position: relative;
  padding: 80px;
  background-color: #EAE7DC;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 1047px
}

.rootTable {
  padding: 40px 30px;
  zoom: 0.5;
  height: 820px;
}

.content {
  z-index: 3;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  z-index: 2;
}

.imageTablet {
  zoom: 0.5;
  top: 30vh;
}

.border {
  width: 106px;
  border: 4px solid #E85A4F;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stagesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
  position: relative;
}

.stageLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 392px;
}

.stage {
  display: flex;
  align-items: start;
}

.text {
  max-width: 344px;
  margin-left: 49px;
}

.button {
  position: absolute;
  bottom: 61px;
  justify-self: center;
}
