.root {
  width: 100%;
  background-color: #FEFCF3;
  padding-top: 70px;
}

.rootTablet {
  padding: 30px;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  width: 1240px
}
