.root {
  background-color: #FEFCF3;
  padding: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rootTablet {
  padding: 0;
}

.rootMobile {
  padding: 0;
}

.image {
  height: 80vh;
  width: 1376px;
  background-image: url('@/shared/assets/backgrounds/bid.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  padding: 50px;
}

.imageTablet {
  width: 100%;
  padding: 0;
  height: 430px;
}

.imageMobile {
  background-image: url('@/shared/assets/backgrounds/bidMobile.png');
  width: 100%;
  padding: 0;
  height: 260px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

.contentTable {
  padding-top: 6vh;
}

.contentMobile {
  padding-top: 23px;
}

.text {
  display: flex;
  gap: 14px;
}

.containerDiv {
  display: flex;
  gap: 100px;
}

.containerDivTablet {
  gap: 0;
  width: 90%;
  justify-content: center;
}

.container {
  width: 476px;
  height: 187px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 10px;
  backdrop-filter: blur(22.899999618530273px);



  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerTablet {
  transform: scale(0.8);
  padding: 16px 6px;
  justify-content: start;
  gap: 15px;
  height: fit-content;
}

.contentText {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
}

.buttonTablet {
  width: 262px;
  height: 48px;
}

.buttonContainerMobile {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 20px;
}
